body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

header {
    text-align: center;
    padding: 50px;
    background-image: url('calvin-kelvin-background.jpg');
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
}

#featured-products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

#video-section {
    text-align: center;
    padding: 50px;
    background-color: #f0f0f0;
}

#video-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contact {
    text-align: center;
    padding: 50px;
}

form {
    max-width: 500px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
